#root{
background-color: rgb(225, 228, 247);
    height:893px ;
    width: 1920px;
}

#Calculadora {
    text-align: center;
}

#Notas {
    display: flex;  /*Para que el contenido este horizontal*/
    margin-left: 690px;
}
#notas h4 {
  margin-bottom: 47px; /* Ajusta el valor según el espacio que desees */
}


#notas {

    height: 230px;
    width: 250px;
}

#txtPromedio {
    margin-top: 80px;
}

#inputNotas {
color:  #007bff;
border-radius: 20px; 
  padding: 8px;
  outline: none;
  margin-right: 150px;
   margin-top: 2px;
  
}

#inputNotas input {
  background: transparent;
  color: #007bff;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  padding: 8px 0;
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

#inputNotas input::placeholder {
  color: rgb(54, 164, 247); 
  opacity: 1;  
}

#inputNotas input:focus {
  border-bottom: 2px solid #007bff; /* Color al enfocar */
}

#btnResultado{
 border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #007bff; /* Color base del botón */
  transition: box-shadow 0.3s ease-in-out; /* Transición suave del efecto de sombra */
}
 
#btnResultado:hover {
  box-shadow: 0 6px 10px  rgb(25, 130, 209);
}